@import "tailwindcss";

@theme {
  --color-midnight: #141916;
  --color-ivory: #F5F0E8;
  --color-gold: #B8972A;
  --color-tea: #8B9E5A;
}

body {
  background-color: var(--color-midnight);
  color: var(--color-ivory);
  font-family: 'Inter', sans-serif;
}
